.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fff;
    align-items: flex-start;
    border-radius: 20px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    margin-top: 20px;
    width: 100%;
    font-size: 30px;
}

.menu {
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}