.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: var(--inside-padding);
    gap: 1vw;
    background-color: #ebedef;
}

.main {
    display: flex;
    gap: 1vw;
    height: 100%;
}

.layout .sidebarContainer {
    min-width: 15%;
    width: 15%;
}

.layout .pageContainer {
    flex-grow: 1;
}