.table {
    border-spacing: 1;
    border-collapse: collapse;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;

    th {
        color: var(--grey-text);
    }
    
    th,
    td {
        text-align: left;
        font-size: 16px;
        padding-left: var(--inside-padding);
        padding-right: var(--inside-padding);
    }

    tr {
        height: clamp(50px, 10vh, 60px);
        border-bottom: 1px solid var(--grey-text);
    }

}