:root {
    --primary-color: #005fff;
    --secondary-color: #ff8d24;
    --text-primary: #04081b;
    --text-secondary: #fff;
    --grey-text: #8b9299;
    --light-color: #fff;
    --inside-padding: 1rem;
    --border-radius: 15px;
}