.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fff;
    align-items: flex-start;
    border-radius: var(--border-radius);
    font-size: 20px;
    padding-top: var(--inside-padding);
    gap: 1%;
}

.icon {
    font-size: 23px;
}