.page {
    height: 100%;
    width: 100%;
    background-color: var(--light-white);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    padding: var(--inside-padding);
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    height: 100%;
}