.filtersContainer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 2vw;
    width: 75%;
    margin: 0 auto;
}

.searchButton {
    height: 50px;
    width: 190px;
}