* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #ebedef;
}

:root {
    --primary-color: #005fff;
    --secondary-color: #ff8d24;
    --text-primary: #04081b;
    --text-secondary: #fff;
}

hr {
    margin: 0.5rem 0 !important;
}