button {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: var(--text-secondary) !important;
    transition: all .3s !important;
}

button:hover {
    background-color: #2c79ff !important;
}