.page {
    height: 100%;
    width: 100%;
    background-color: var(--light-white);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.dataContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    padding: var(--inside-padding);
}

.roomWrap {
    width: 32.3%;
    flex: 0 0 auto;
    padding: 0.5%;
    margin-top: 0;
    height: fit-content;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all .3s;
}

.active {
    border: 1px solid var(--primary-color);
}