.page {
    height: 100%;
    width: 100%;
    background-color: #f6f7f9;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.dataContainer {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    gap: 1vw;
}