.headerContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 0px 0px 0px 38px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.logo {
    font-size: 24px;
    color: white;
}

.navbarContainer {
    height: 100%;
    display: flex;
    gap: 1vw;
}

.navbar {
    height: 100%;
    align-items: center;
    display: flex;
    gap: 1vw;
}

.navbarItem {
    font-size: 18px;
    color: white;
}

.headerAction {
    display: flex;
    align-items: center;
    background: #e29c89;
    height: 100%;
    width: max(7vw, 50px);
    justify-content: center;
}

.headerAction button {
    background: transparent;
    border: none;
    outline: none;
    font-size: 22px;
    color: white;
    cursor: pointer;
}